form {
  padding-top: 2.7vw;
  text-align: center;
  margin-top:7.5vw;
  font: 1.67vw Share, cursive;
  z-index: -1;
}
.title{
  font-family: 'Share', cursive;
  text-align: center;
  font-size: 3.7vw;
}

#EndLogo{
  color: #40cec0;
}

.inputBox {
  /*border-radius: 4px;
  border-color: black;*/
  border: none;
  border-top: .27vw solid #FFF;
  border-bottom: .27vw ridge #AAA;
  font: 1.4vw Share, cursive;

  transition: border-bottom 0.3s ease;
}
.inputBox:hover {
  border-bottom: .27vw ridge #888;
}
.inputBox:focus {
  border-bottom: .27vw solid #000;
}
.body {
  margin: 0;
  padding: 0;
}
.nbsp{
  font-size: 1,4vw;
}

.error {
  margin-top: 0.3vw;
  font-size: 1vw;
  color: red;
  position: relative;
  display: initial;
}
.errorHidden {
  display: none;
}

.submit_button {
  color: #FFFFFF;
  background-color: #00ced1;
  height: 2vw;
  border-radius: 0.3vw;
  border: 0.2vw solid #000;
  margin: 0.67vw;
  font-family: 'Share', cursive;
  font-weight: bold;
  font-size: 1vw;
}

canvas {
  border: 1px inline black;
}
#signUplead{
  border-radius: 2vw;
  border-color: #000000;
  background-color: green;
  color: white;
  height: 2.7vw;
}
.bkgd{
  background-image: url("https://www.sppoweb.hku.hk/vision2016-2025/images/160536-hku-website-ang-green_f.gif?crc=524139048");
  background-position: 0px;
  background-size: 117vw;
}
#fillSide{
  border-left: solid;
  border-color: #006400;
}
.wrapper {
  padding: 3.3vw;
}
.SoI{
  margin-left: 0px;
  font-size: 3.5vw;
  font-weight: bold;
}
#in{
  color: #006400;
}
.LoI{
  font-size: 3.5vw;
  font-weight: bold;
  margin-left: 0px;
}
/*#line{
  margin-top: 100px;
  border: 5px solid green;
  transform: rotate(-20deg);
  z-index: -2;
} */


canvas {
  margin: 20px;
  padding: 20px;
  border: 4px ridge black;
}
