
#landHead{
  width: 99.85%;
  height: 70px;
  padding: 0;
  margin: 0;
  background: green;
  border: 10px solid green;
  margin-left: -10px;
  margin-top: -10px;
}
.opener {
  background-color: #dff8ec;
  color: #ffffff;
  text-align: left;
  margin-left: -15px;
  margin-top: -22px;
  margin-right: -8px;
}
.smName{
  margin-top: -20px;
  font-family: 'Share', cursive;
  font-weight: 900;
  font-size: 70px;
  float: left;
  position: relative;
  margin-left: 50px;
}
.opener::after {
  display: block;
  content: "";
  border-top: 90px solid #40cec0;
  border-right: 90vw solid #ffffff;
  background-color: #40cec0;
}
.landEnco{
  background-image: url("https://www.sppoweb.hku.hk/vision2016-2025/images/160536-hku-website-ang-green_f.gif?crc=524139048");
  background-position: -250px;
  background-size: 2180px;
}
#logo{
  transform: rotate(11deg);
}
.headButt{
background-color: green;
border: 5px solid green;
border-radius: 5px;
border-left: 5px solid green;
color: white;
height: 50px;
font-size: 30px;
font-weight: bold;
margin-top: 10px;
  }
.headButt:hover{
  background-color: white;
  border: 5px solid white;
  color: #40cec0;
}
#Sign-in{
  border-left: 1px solid white;
  float: right;

}
#login{
  border-right: 1px solid white;
  border-left: 1px solid white;
  float: right;
}
#about{
  border-right: 1px solid white;
}
#landBod{
  height: 400px;
  text-align: center;
  font-family: 'Share', cursive;
  position: static;
  font-weight: bold;
  font-size: 200px;
}
#space{
  font-size: 50px;
}
#Smart{
  color: #40cec0;
}
#Chart{
  color: #FFFFFF;
}
#logo{
  margin-top: 180px;
}
/* HomePage */
.logout{
  color: #ffffff;
  float: right;
  height: 45px;
  width: 115px;
  border-radius: 6px;
  border: 5px solid #40cec0;
  background-color: #40cec0;
  font-size: 21px;
  font-weight: bold;
  margin-top: -10px;
  font-family: 'Share', cursive;
}
.logout:hover{
  background-color: white;
  color: #40cec0;
  border-color: white;
}
#logout{
  border-right: 5px solid white;
  border-left: 5px solid white;
}
#homBod{
  margin-top: 40px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  border-radius: 50px;
  border-left: 5px solid  transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid  transparent;
  border-bottom: 5px solid transparent;
  padding: 10px;
  background-color: #fafafa;
  font: 25px Share, cursive;
}
#homBod {
    overflow: auto;
}
#homBod > div{
  width: 97%;
  height: 30px;
  border-radius: 5px;
  border-right: 1px solid grey;
  margin-top: 10px;
  border-bottom: 3px solid grey;
  border-top: 3px solid transparent;
  background-color: #EBEBEB;
  color: #40cec0;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  padding-top: 0;
  transition: all 0.3s ease-out;
}
#homBod > div:hover{
  background-color: #30aea0;
  color: white;
  border-width: 3px;
  font-size: 16px;
  border-right: 3px solid #67E6EC;
}
#newClass{
  height: 2.313vw;
  background-color: #40cec0;
  font-size: 1.35vw;
  float: right;
  margin-top: -4.5vw;
  border-radius: 5px;
  border: 5px solid #40cec0;
  color: white;
  font-family: 'Share', cursive;
  font-weight: bold;
  margin-right: 30px;
  transition: background-color 0.3s ease, border-color 0.3s ease 0.15s;
}
#newClass:hover{
  background-color: #20aea0;
  border-color: #20aea0;
  /*color: #40cec0;*/
}
#homBod > div > h2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}
#leftBar{
  margin-left: 0px;
  width: 33%;
  background-color: red;
  height: 100%;
}
#listClass{
  text-align: center;
  font-size: 25px;
  color: #40cec0;
  margin-top: -30px;
}
#listBorder{
  border-bottom: 3px solid grey;
  margin-top: -20px;
}
.opener{
    background-image: linear-gradient(to right, #40cec0, #ADD8E6);
}
/* 9/16 changes (#smName -> .smName) */
.show{
  margin-top: 2.7vw;
  margin-left: -25vw;
  margin-bottom: 3vw;
  transition: left 2s 1s ease-out;
  display: all;

  }

.hide{
  height: 20vw;
  width: 5%;
  background-color: #30aea0;
  display: none;
  margin-left: -50vw;
}
#participation > button{
  height: 2.313vw;
  background-color: #40cec0;
  font-size: 1.35vw;
  border-radius: 5px;
  border: 5px solid #40cec0;
  color: white;
  font-family: 'Share', cursive;
  font-weight: bold;
  transition: background-color 0.3s ease, border-color 0.3s ease 0.15s;
}
#participation > button:hover{
  background-color: #20aea0;
  border-color: #20aea0;
  /*color: #40cec0;*/
  }
#random{
  float: right;
  margin-top: -3vw;
}
#generate{
  float: right;
  margin-right: 10vw;
  margin-top: -3vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
#verticalSpace{
  border-right: 0.065vw solid #40cec0;
  border-left: 0.065vw solid #40cec0;
  margin-top: -3vw;
  position: relative;
  margin-right: 8.75vw;
  float: right;
  height: 2.2vw;
}
#saveChanges{
  bottom: 2vw;
  right: 0;
  position: sticky;
  float: right;
  margin-right: 2vw;
}
#saveExit{
  float: right;
  bottom: 2vw;
  right: 0;
  position: sticky;
  margin-right: 2vw;
  padding-left: 1.05vw;
  padding-right: 1.05vw;
}
#grid{
  margin-top: -1vw;
  margin-bottom: 6.4vw;
height: 93.7vw;
margin-left: auto;
margin-right: auto;
background-size: 9.7vw 11.7vw ;
background-position: 0vw 0vw;
background-image: linear-gradient(to right, #e9e9e9 0.13vw, transparent 1px), linear-gradient(to bottom, #e9e9e9  0.13vw  , transparent 1px);
width: 87.4vw;
}
#participation{
}
th{
  border: 1px solid black;
}
th, table{
  border-collapse: collapse;
}
