form {
  padding-top: 40px;
  text-align: center;
  margin-top: 195px;
  font: 25px Share, cursive;
  z-index: -1;
}
.title{
  font-family: 'Share', cursive;
  text-align: center;
  font-size: 60px;
}

#EndLogo{
  color: #40cec0;
}

.inputBox {
  /*border-radius: 4px;
  border-color: black;*/
  border: none;
  border-top: 4px solid #FFF;
  border-bottom: 4px ridge #AAA;
  font: 22px Share, cursive;

  transition: border-bottom 0.3s ease;
}
.inputBox:hover {
  border-bottom: 4px ridge #888;
}
.inputBox:focus {
  border-bottom: 4px solid #000;
}
.body {
  margin: 0;
  padding: 0;
}
.nbsp{
  font-size: 25px;
}

.error {
  margin-top: 0.3vw;
  font-size: 1vw;
  color: red;
  position: relative;
  display: initial;
}
.errorHidden {
  display: none;
}

.submit_button {
  color: #FFFFFF;
  background-color: #00ced1;
  height: 30px;
  border-radius: 5px;
  border: 3px solid #000;
  margin: 10px;
  font-family: 'Share', cursive;
  font-weight: bold;
  font-size: 15px;
}

#signUplead{
  border-radius: 3px;
  border-color: #000000;
  background-color: green;
  color: white;
  height: 40px;
}
.bkgd{
  background-image: url("https://www.sppoweb.hku.hk/vision2016-2025/images/160536-hku-website-ang-green_f.gif?crc=524139048");
  background-position: 0px;
  background-size: 1800px;
}
#fillSide{
  border-left: solid;
  border-color: #006400;
}
.wrapper {
  padding: 50px;
}
.SoI{
  margin-left: 0px;
  font-size: 3.5vw;
  font-weight: bold;
}
#in{
  color: #006400;
}
.LoI{
  font-size: 3.5vw;
  font-weight: bold;
  margin-left: 0px;
}
/*#line{
  margin-top: 100px;
  border: 5px solid green;
  transform: rotate(-20deg);
  z-index: -2;
} */
