#landHead{
  width: 99.85%;
  height: 70px;
  padding: 0;
  margin: 0;
  background: green;
  border: 10px solid green;
  margin-left: -10px;
  margin-top: -10px;

}
.landEnco{
  background-image: url("https://www.sppoweb.hku.hk/vision2016-2025/images/160536-hku-website-ang-green_f.gif?crc=524139048");
  background-position: -250px;
  background-size: 2180px;
}
#logo{
  transform: rotate(11deg);
}
.headButt{
background-color: green;
border: 5px solid green;
border-radius: 5px;
border-left: 5px solid green;
color: white;
height: 50px;
font-size: 30px;
font-weight: bold;
margin-top: 10px;
  }
.headButt:hover{
  background-color: white;
  border: 5px solid white;
  color: #40cec0;
}
#Sign-in{
  border-left: 1px solid white;
  float: right;

}
#login{
  border-right: 1px solid white;
  border-left: 1px solid white;
  float: right;
}
#about{
  border-right: 1px solid white;
}
#landBod{
  height: 400px;
  text-align: center;
  font-family: 'Share', cursive;
  position: static;
  font-weight: bold;
  font-size: 200px;
}
#space{
  font-size: 50px;
}
#Smart{
  color: #40cec0;
}
#Chart{
  color: #FFFFFF;
}
#logo{
  margin-top: 180px;
}
